# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Cache
__pycache__/*
test_package/__pycache__/*
test_package/build/*
build/*
*.pyc
tmp/
build_subfolder/*
source_subfolder/*
grpc-1.14.1/*
conanbuildinfo.cmake
conanbuildinfo.txt
conaninfo.txt

# IDE
.idea/*
.project
.pydevproject
.settings/*
.ropeproject/*
.vscode/*